# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: mgirardo <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2022/01/07 14:17:36 by mgirardo          #+#    #+#              #
#    Updated: 2025/02/03 10:20:01 by mgirardo         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.o
*.a
a.out
.DS_Store
*.git
*.swp
*.vscode
*.d
*.env
